@model IEnumerable<StudentCourse>
@{
    ViewData["Title"] = "GetCourses";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<h3 class="text-center">Your Courses</h3>
<br />

<div class="container">

    <table class="table table-hover">
        <thead>
            <tr class="table-dark">
                <th>Id</th>
                <th>Course Name</th>
                <th>Course Grade</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Crs.CrsId</td>
                        <td>@item.Crs.CrsName</td>
                        <td>@item.Grade</td>
                        <td><a asp-action="SeeStudentExam" asp-route-crsId="@item.Crs.CrsId" class="btn btn-info"> See Exam</a></td>
                    </tr>
                }
            }
            else
            {
                <p class="text text-danger text-center">You have No Courses!</p>
            }


        </tbody>
    </table>
</div>