@model Tuple<int,int>

@{
    var precentage = (@Model.Item1 / @Model.Item2) * 100;
}

<h2> You have Succesfully Submitted you Exam</h2>
<h1> Total grade: @Model.Item1.ToString()   out of  @Model.Item2.ToString() </h1>
<h1> precentage: @precentage % </h1>

<input type="button" asp-action="index" value="Go Back To Home"/>

