
@{
    ViewData["Title"] = "Generate Exam";
    Layout = "~/Views/Shared/_InstructorLayout.cshtml";
}
 
<div class="container">
    <h1 class="text-center">Generate Exam</h1>
    <form method="post" >
        <div class="mb-3">
            <label for="crsId" class="form-label">Course ID</label>
            <input type="text" class="form-control" id="crsId" name="crsId">
        </div>
        <div class="mb-3">
            <label for="date" class="form-label">Date</label>
            <input type="date" class="form-control" id="date" name="date">
        </div>
        <div class="mb-3">
            <label for="hours" class="form-label">Hours</label>
            <input type="number" class="form-control" id="hours" name="hours" min="0" max="6">
        </div>
        <div class="mb-3">
            <label for="minutes" class="form-label">Minutes</label>
            <input type="number" class="form-control" id="minutes" name="minutes" min="0" max="59">
        </div>
        <button type="submit" class="btn btn-primary">Generate Exam</button>
    </form>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
}
