@{
    Layout = "~/Views/Shared/_InstructorLayout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-3">
            <a href="@Url.Action("Action1", "Controller1")" class="btn btn-secondary">Generate Exam</a>
        </div>
        <div class="col-md-3">
            <a href="@Url.Action("Action2", "Controller2")" class="btn btn-secondary">Button 2</a>
        </div>
        <div class="col-md-3">
            <a href="@Url.Action("Action3", "Controller3")" class="btn btn-secondary">Button 3</a>
        </div>
        <div class="col-md-3">
            <a href="@Url.Action("Action4", "Controller4")" class="btn btn-secondary">Button 4</a>
        </div>
    </div>
</div>
